$error: #FF5353;
$background: #103f74;
$white: #FFFFFF;
$borderColor: #04305c;
$selectedBorder: #103f74;
$primary-color: #000000;
$disable-color: #858585;

/* Inputs */
$label: #404040;

/* Buttons */
$PrimaryBackground: #205295;
$PrimaryColor: #FFFFFF;
$SecondaryBackground: local;
$SecondaryColor: #205295;
$SecondaryOutlineColor: #205295;
$SuccessColor: #198754;
$WarningColor: #c9a128;
$DangerColor: #ac3333;
$InfoColor: #04a9ca;
$LightColor: #e6e9ec;
$DarkColor: #1f2327;
$LinkColor: local;

$link: #2C74B3;

// Base Colors
$pink: #e91e63;
$red: #c21858;
$purple: #9c27b0;
$violet: #5727b0;
$blue: #272ab0;
$cyan: #276bb0;
$teal: #57acdc;
$lightgreen: #57dcbe;
$green: #60c689;
$white: #FFFFFF;
$black: #000000;
