/* Font families */
$primary-font: normal normal bold 14px/27px Arial;
$headerFont: normal normal bold 20px/27px Arial;

/* Font sizes */
$small-font-size: 12px;
$normal-font-size: 14px;
$big-font-size: 16px;
$heading-h1: 22px;

/* Font color */
$normal-font-color: #707070;

/* Font weights */
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$extrabold: 800;
