@import "~bootstrap/scss/bootstrap";
@import "fonts";
@import "variables/colors.scss";
@import "~react-resizable/css/styles";
@import "~react-grid-layout/css/styles";

html,
body {
    height: 100%;
    background: $background;
    color: $PrimaryColor;
    padding: 0;
    margin: 0;
    font-family: $primary-font;

    #__next {
        height: 100%;
    }
}

h5 {
    font: normal normal bold 20px/24px Arial;
    letter-spacing: 0px;
    color: #858585;
}

a {
    color: $link;
    text-decoration: none;
}

a:hover {
    color: $PrimaryBackground;
}

.button {
    border-radius: 15px;
    font-weight: $bold;
}

.button-primary, .button-outline-primary {
    font-size: 16px !important;
}

.button-primary, .button-primary:hover {
    background: $PrimaryBackground;
    color: $PrimaryColor;
}

.button-outline-primary, .button-outline-primary:hover  {
    background: $SecondaryBackground;
    color: $SecondaryColor;
    border-color: $SecondaryOutlineColor !important;
    border: 2px solid;
}
